<!doctype html>
<head>
    <title>Where Is Washington On Fire?</title>
    <style>
        a:link {
            color:#000000;
            text-decoration: none;
        }
        a:visited {color:#000000;}
        a:hover {color:#000000;}
        a:active {color:#000000;}
        a::after {
            content: "\1F517";
            vertical-align: super;
            font-size: 30%;
            position: relative;
            right: 6px;
        }
    </style>
</head>
<body>
    {% for fire in fires %}
        <h1>
            {% if fire.inciweb_url %}
                <a href="{{fire.inciweb_url}}">
                    {{fire.location}}
                </a>
            {% else %}
                {{fire.location}}
            {% endif %}
        </h1>
    {% endfor %}
    <p>updated: {{date}}</p>
</body>